.detalles-card-contenedor{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.comic-detalle-img{
  width: 30%;
}
.comic-detalle-texto{
  width: 70%;
  padding: 0 15px;
}

@media (min-width:573px) and (max-width:1024px){
  .detalles-card-contenedor{
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .comic-detalle-img{
    width: 40%;
  }
  .comic-detalle-texto{
    width: 60%;
  }
}

@media (max-width:573px){
  .detalles-card-contenedor{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .comic-detalle-img{
    width: 100%;
  }
  .comic-detalle-texto{
    width: 100%;
    padding: 10px 0;
  }
}